 <div class="container">
        <hr>
     <div class="row">
        <div class="col-12 col-md-6">
            <p class="link"><b>Schrijf je in voor onze nieuwsbrief en krijg 5 Euro korting!</b></p>
            
            <form action="/action_page.php">
                <div class="form-group"> 
                    <input type="email" class="form-control invulveld" placeholder="E-mail adres" id="email">
                </div>
            </form>
            

            <a class="btn knop" href="{{ site.baseurl }}/#.html" role="button">Inschrijven</a>

            
            <p class="link"><b>Betaalopties</b>
                <div>
                    <img class="iconen" src="img/visa.png" alt="" height="50px;">
                    <img class="iconen" src="img/minstercash.png" alt="" height="35px;">
                    <img class="iconen" src="img/mastercard.png" alt="" height="50px;">
                    <img class="iconen" src="img/paypal.png" alt="" height="50px;">
                </div>
            </p>
        </div>
    
    
        <div class="col-12 col-md-6">
            
                <p class="link vragen"><b>Contact:</b></p>
                <p class="vragen">Kortrijksesteenweg 143<br>
                9000 Gent<br>
            
                Telefoonnummer: 09 354 76 88<br>
            </p>
            <p class="link"><b>Volg ons op sociale media:</b></p>
                <div>
                    <a href="https://www.facebook.com/" target="blank" >
                        <img class="iconen" src="img/fb.png" alt=" logo van facebook" height="30px;">
                    </a>
                    <a href="https://www.youtube.com/" target="blank">
                        <img  class="iconen" src="img/youtube.png" alt=" logo van youtube" height="30px;">
                    </a>
                    <a href="https://www.instagram.com/" target="blank">
                        <img  class="iconen" src="img/insta.png" alt=" logo van instagram" height="30px;">
                    </a>
                    <a href="https://www.twitter.com/" target="blank">
                        <img class="iconen" src="img/twitter.png" alt=" logo van twitter" height="30px;">
                    </a>
                </div>
        </div>
        <p> Gemaakt door Sofie Den Haeze, New Media Design 2, Student aan de Arteveldehogeschool</p>
    </div>
</div>
