* {box-sizing: border-box;}
ul {list-style-type: none;}

.logo {
  margin-bottom: 50px;
}

.logo-text {
  font-size: 5pt;
}

.footer p {
  margin-top: 35px;
}

.socialmedia {
  margin-right: 15px;
}


.carousel {
  margin-bottom: 100px;
}

.carousel-item {
  overflow: hidden;
  height: 280px;
  width: 500px;
}

@media (max-width: 576px) {
  .carousel {
    display: none; 
  }
}

.image {
  width: 100%;
}

@media (min-width: 576px) {
  .image {
    display: none; 
  }
}

.fotokader {
  background: #DDD url("../../img/fotohome.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height:  300px;
  position: relative;
  margin: 0px;
  padding:0px;
  margin-bottom: 30px;
}

.afbeelding{
  padding:0px !important;
}

//   Index
h2{
  color: $blauw !important;
  font-size: 25px !important;
  font-family: 'Ultra', serif !important;
  margin-top: 30px !important;
}
.h3{
  color: $blauw !important;
  font-size: 35px !important;
  font-family: 'Mukta Malar', sans-serif !important;

}

h4{
  font-family: 'Ultra', serif !important;
  color: white !important;
  font-size: 35px !important;
  color: white;
  padding: 30px;
  padding-top: 120px;
}

.h5 {
  font-size: 20pt;
  color: #777;
}

.link{
  color: $blauw !important;
  text-decoration: none !important;
}

a{
  color:white !important;
}

p{
  font-size: 16px !important;
  font-family: 'Mukta Malar', sans-serif !important;

}
// Overons
.logos_overons{
  width: 30px;
}

.logo{
  width: 5px;
}

button{
  background-color: $blauw !important;
  text-decoration: none;
  
    &:hover{
      border: $blauw 2px solid;
      background-color: white !important;
      color: $blauw !important;
    }
}

  .form-control {
    margin-bottom: 20px;
  }
  
  @media screen and (max-width:766px){
    .vragen{
      display:none;
    }
      
  }
  
  @media only screen and (min-width: 768px){
    .vragen-mobile{
      display:none;
    }
  }


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  h4{
    font-size: 40px !important;
  }

  body{
    background-color: yellow !important;
  } 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .fotokader {
    height:  500px;
    }
   
    h4{
      font-size: 50px !important;
      padding-top: 220px;
    }

    h2{
      font-size: 30px !important;
    }

  body{
    background-color: green !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
  h4{
    font-size: 60px !important;
    padding-top: 240px;
  }

  h2{
    font-size: 40px !important;
  }

  .fotokader {
    height:  600px;
    }

  body{
    background-color: red !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  h4{
    font-size: 70px !important;
    padding-top: 300px;
  }

  h2{
    font-size: 45px !important;
  }

  .fotokader {
    height:  700px;
    }

  body{
    background-color: blue !important;
  }
}