.navigatie{
background-color: $blauw;
color: white;
margin-bottom: 0px !important;
}

.titel{
    color: white;
    font-family: 'Ultra', serif;
    font-size: 15px !important;
}


.nav-item{
    color: white !important;
}

.navigation {
    margin-bottom: 50px;
  }
  
  .navbar-brand img {
    margin-right: 3px;
  }